h1{
   font-size: 32px;
   font-weight: 600;
}

span{
   font-size: 14px;
}

p{
   font-size: 14px;
}

.gen-button{
   font-size:  32px;
   width: 100%;
}

button{
   height: 60px;
}

.diff-button{
   font-size:  20px;
   width: 100%;
}